
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
                <p>
                    I am a dedicated and responsible programmer and recently earned my BSc in Computer Science and Engineering from the American International University-Bangladesh. Throughout my academic tenure, I honed my skill in a variety of programming languages, including C++, C#, Java, HTML5, and CSS. Currently serving as an intern at Save the Children.
                </p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                    <img src="/Data/img/sachcha.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Web Developer.</h3>
                <p class="fst-italic">
                        As a web developer, it is crucial to attend to the needs of a project, ensuring continuous monitoring and improvement. This process mirrors the dedication required in healthcare, where patient care is paramount. In the world of web development, we encounter challenges akin to labor and pain, yet these hurdles often lead to the creation of remarkable solutions and innovations.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 July 2000</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+880 1717747418</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Dhaka, Bangladesh</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>23</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bsc in CSE</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sachcha.aiub@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                        Choosing the services of web development is akin to opting for a unique set of challenges and rewards. In this realm, anyone can access a multitude of tools and resources to build and create. It's an environment where client satisfaction is paramount, and there's a commitment to delivering impeccable services. While challenges may arise, those who persist and overcome obstacles often find the pursuit truly rewarding. The web development landscape is vast and intriguing, offering endless possibilities for those with a genuine desire to explore and innovate. The successes achieved in overcoming difficulties are often met with great recognition and praise in the world of web development.
                </p>
            </div>
        </div>
    </div>
</section>
