<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Crafting a compelling resume serves as the gateway to showcasing a professional journey. A personal marketing document, it succinctly summarizes skills and experiences, strategically positioning for sought-after opportunities. Every word counts, as the resume functions as the introduction to potential employers.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summery</h3>
                <div class="resume-item pb-0">
                    <h4>SHARIAR MAHMUD SACHCHA</h4>
                    <p><em>I am a motivated web developer. Recently I have completed my Bsc in CSE from American International University-Bangladesh. Throughout my academic journey I have developed my skill in many programming language like C++, C#, PHP, HTML etc</em></p>
                    <ul>
                        <li>Bashundhara R/A, Block F, Road 4, House 207</li>
                        <li>+8801717747418</li>
                        <li>sachcha.aiub@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Undergraduate</h4>
                    <h6>Computer Science and Engineering</h6>
                    <h5>2020 - PRESENT</h5>
                    <p><em>American International University-Bangladesh</em> <br> 408 /1, Kuratoli,Khilkhet,Dhaka Bangladesh</p>
                </div>
                <div class="resume-item">
                    <h4>Higher School Certificate (HSC)</h4>
                    <h5>2016 - 2018</h5>
                    <p><em>Samiruddin Smrity College</em> <br> Baliadangi, Thakurgaon</p>
                </div>
                <div class="resume-item">
                    <h4>Secondary School Certificate (SSC)</h4>
                    <h5>2014 - 2016</h5>
                    <p><em>Baliadangi Pilot High School</em> <br> Baliadangi, Thakurgaon</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Experience</h3>
                <div class="resume-item">
                    <h4>Intern at Save The Children Bangladesh</h4>
                    <h5>2023 - Present</h5>
                    <p><em>Dhaka, Bangladesh </em></p>
                    <ul>
                        <li>Gain proficiency in HTML, CSS, and JavaScript for web development basics.</li>
                        <li>Learn Git for efficient tracking of changes, collaboration, and version control in team projects. </li>
                        <li>Familiarize yourself with popular web development tools like React.js or Angular for streamlined and responsive applications.</li>
                        <li>Develop strong problem-solving skills and effective debugging techniques to ensure code quality and resolve issues efficiently.</li>
                    </ul>
                </div>
               
<!-- ======= Skills Section ======= -->
                <h3 class="resume-title">Skill</h3>
                <div class="resume-item">
                    <div id="skills" class="container skills section-bg" data-aos="fade-up">

                        <div class="section-title">

                        <div class="row skills-content">

                            <div class="col-lg-6">

                                <div class="progress">
                                    <span class="skill">HTML <i class="val">100%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress">
                                    <span class="skill">CSS <i class="val">80%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress">
                                    <span class="skill">OS <i class="val">75%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                    <div class="progress">
                                        <span class="skill">JavaScript <i class="val">75%</i></span>
                                        <div class="progress-bar-wrap">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <span class="skill">Java <i class="val">80%</i></span>
                                        <div class="progress-bar-wrap">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                            </div>

                            <div class="col-lg-6">

                                <div class="progress">
                                    <span class="skill">PHP <i class="val">80%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                <div class="progress">
                                    <span class="skill">ASP .NET <i class="val">75%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                                    <div class="progress">
                                        <span class="skill">C++ <i class="val">90%</i></span>
                                        <div class="progress-bar-wrap">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                <div class="progress">
                                    <span class="skill">Photoshop <i class="val">55%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                    <div class="progress">
                                        <span class="skill">SQL <i class="val">95%</i></span>
                                        <div class="progress-bar-wrap">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                            </div>

                        </div>

                    </div>
                
@* Skill End *@
                
            </div>
            </div>
        </div>

        </div>
    </div>
</section>