@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/Artgallery.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br><br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:Document Based</li>
                            <li><strong>Project date</strong>: 28 April, 2023</li>
                            <li><strong>Code Source</strong>: <a href="https://github.com/sm-sachcha/Art-Gallery-Management-System" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <h2>Project Details (Art Gallery Management System)</h2>
            <p>
                This is a documantation type project. This document is described the proper requirement of a project. Here exist art gallery projects test cases and testing stratgies.
            </p>
        </div>
    </section>

</main>