@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/LT2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web Based</li>
                            <li><strong>Project date</strong>: 07 January, 2022</li>
                            <li><strong>PCode Source</strong>: <a href="https://github.com/sm-sachcha/landTax" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <h2>Project Details (Accountant Part)</h2>
            <p>
                An e-governance web site where an Accountant can view landowner, calculate
                total tax, Update yearly tax, show highest amount of tax payer. The application
                is made with HTML, PHP, jQuery and CSS.
            </p>
        </div>
    </section>

</main>