@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/plasmabank1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:Desktop Application</li>
                            <li><strong>Project date</strong>: 27 November, 2021</li>
                            <li><strong>Code Source</strong>: <a href="https://github.com/sm-sachcha/PlasmaBank" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <h2>Project Details (Plasma Bank Management System)</h2>
            <p>
                This project is developed with C# which is fully controlled by Admin. In this
                project, user can see the donor by searching location and also see when they
                can donate their plasma. It also able to give the full details of the patient and
                plasma donor
            </p>
        </div>
    </section>

</main>