@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/RM1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br><br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Application Based</li>
                            <li><strong>Project date</strong>: 01 March, 2021</li>
                            <li><strong>Code Source</strong>: <a href="https://github.com/sm-sachcha/Result-Processing-System" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <h2>Project Details (Result Management System)</h2>
            <p>
                It is an application-based software made with JAVA, where 3 types of users(Admin, Teacher, Student) perform their work.<br>
                <strong>Admin:</strong> Admin can Manage teacher and student by creating their user id and password and manage them by editing their profile, delete them from the system etc.<br>
                <strong>Teacher:</strong>They can show their profile, upload student’s result and modify it.<br>
                <strong>Student:</strong>After login student can see a button to see their result and also see a button to make an application to recheck their result.
            </p>
        </div>
    </section>

</main>