@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <br>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/toll-management-system-500x500.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:Application Based</li>
                            <li><strong>Project date</strong>: 14 September, 2021</li>
                            <li><strong>Code Source</strong>: <a href="https://github.com/sm-sachcha/toll_payment_system" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <br>
            <h2>Project Details (Toll Payment System)</h2>
            <p>
                It is a C++ base application which is made by following Queue and Stack.
                In this project the toll collection management divided the whole vehicle into
                three categories (Heavy Duty, Medium Duty and Light Duty). For different
                type of vehicle pay different categories payment and calculate it and store in different
                stack and queue.
            </p>
        </div>
    </section>

</main>