@{
    Layout = "_ProjectDetailsLayout";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Data/img/Project/VMS1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-Info">
                        <br><br><br><br>
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>:Document Based</li>
                            <li><strong>Project date</strong>: 10 August, 2023</li>
                            <li><strong>PCode Source</strong>: <a href="https://github.com/sm-sachcha/SQAT_Documentatiion_VMS" target="_blank">click here</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>

        </div>
        <div class="portfolio-description">
            <h2>Project Details (Vehicle Management System)</h2>
            <p>
                This is a documantation type project. Developer develop a webbase software and the developing software was tested by Selenium.
                All interface,test case, and different type of diagram in include in this file to make a proper document.
            </p>
        </div>
    </section>

</main>